* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
max-width: 1080px;
margin:auto;
}

header {
    padding: 20px;
    text-align: center;
}

#logo {
    height: 70px;
}

.tobooCont {
background-color: #dedede;
border-radius: 10px;
padding: 20px;
}

.tobooCont ul {
    list-style: none;
}

.tobooCont li {
  display: flex;
  justify-content: space-between;
  align-items: center;
    padding: 5px 0;
    font-size: 20px;
}

.tobooCont li:not(:last-child) {
    border-bottom: 1px solid grey;
}